---
layout: default
---
<div class="mb-6">
	<p>
	Hi, I'm Marcin. I'm a software developer living in Warsaw, Poland. I like to build software and write about things I learned, discovered or just found interesting while doing it.
	</p>
	<p class="mt-2">
	If you want to stay in touch with me, follow me on Twitter at <a class="underline text-blue-900" href="https://twitter.com/mdoliwa">@mdoliwa</a>
	</p>
</div>
<div class="mb-6">
	{% if site.posts.size > 0 %}
		<h2 class="text-2xl mb-3">Latest articles</h2>
	{% endif %}
	<ul>
		{% for post in site.posts limit:10 %}
			<li class="mb-1">
				<a href="{{post.url}}" class="underline text-blue-900 visited:text-red-800">{{post.title}}</a>
			</li> 
		{% endfor %}
	</ul>
	{% if site.posts.size > 10 %}
		<p class="mt-4 text-base"><a class="underline text-blue-900">More articles ➝</a></p>
	{% endif %}
</div>

<div>
	{% if site.projects.size > 0 %}
		<h2 class="text-2xl mb-3">Latest projects</h2>
	{% endif %}
	<ul>
		{% for project in site.projects limit:10 %}
			<li class="mb-1">
				<a href="{{project.url}}" class="underline text-blue-900 visited:text-red-800" href="#">{{project.name}}</a>
			</li> 
		{% endfor %}
	</ul>
	{% if site.projects.size > 10 %}
		<p class="mt-4 text-base"><a class="underline text-blue-900" href="#">More projects ➝</a></p>
	{% endif %}
</div>
