<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    <header class="mx-auto max-w-prose mt-6 mb-8 px-4">
      <nav class="flex items-center justify-between">
        <div class="text-xl">
          Marcin Doliwa
        </div>
        <ul class="text-lg flex">
          <!-- <li class="mr-3"><a href="#">Posts</a></li> -->
          <!-- <li class="mr-3"><a href="#">Projects</a></li> -->
          <!-- <li><a href="#">About Me</a></li> -->
        </div>
      </nav>
    </header>
    {{ content }}
  </body>
</html>
